<!DOCTYPE html>
<html lang="ru">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Groom Room</title>
  <link rel="stylesheet" href="css/style.css">
  <link rel="stylesheet" href="css/icons-style.css">
</head>

<body>
  <div class="wrapper">
    <header class="header">
      <div class="header__container">
        <div class="header__logo"><span>GROOMING</span>Service for dogs and cats</div>
        <nav class="header__menu">
          <a href="index.html" class="header__link icon-home active"><span>ГЛАВНАЯ</span></a>
          <a href="login.html" class="header__link icon-key"><span>ВХОД</span></a>
        </nav>
      </div>
    </header>
    <main class="main">
      <section class="main__application application">
        <div class="application__container">
          <h1 class="application__title">Профессиональная укладка<br>для ваших домашних<br>питомцев</h1>
          <div class="application__form form">
            <div class="form__title" id="app">Создайте заявку</div>
            <input type="text" name="" class="" placeholder="Кличка домашнего животного" v-model="petName">
            <select>
              <option v-model="category">Категория заявки</option>
              <option>Стрижка</option>
              <option>Мытье</option>
              <option>Педикюр</option>
            </select>
            <button v-on:click="add()">Записаться</button>
          </div>
        </div>
      </section>
      <section class="main__our-works our-works">
        <div class="our-works__container">
          <h2 class="our-works__title">Наши работы</h2>
          <div class="our-works__gallery">
            <div class="our-works__card card">
              <div class="card__img">
                <img src="img/dog.png" alt="dog">
              </div>
              <div class="card__name">Dog #1</div>
            </div>
            <div class="our-works__card card">
              <div class="card__img">
                <img src="img/dog.png" alt="dog">
              </div>
              <div class="card__name">Dog #1</div>
            </div>
            <div class="our-works__card card">
              <div class="card__img">
                <img src="img/dog.png" alt="dog">
              </div>
              <div class="card__name">Dog #1</div>
            </div>
            <div class="our-works__card card">
              <div class="card__img">
                <img src="img/dog.png" alt="dog">
              </div>
              <div class="card__name">Dog #1</div>
            </div>
          </div>
        </div>
      </section>
    </main>
    <footer class="footer">groom-salon.com 2000-2999</footer>
  </div>
  <script src="js/vue.js"></script>
  <script src="js/script.js"></script>
</body>

</html>